@page "/lines"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using RailwayWeb.Data
@implements IAsyncDisposable
@inject IDbContextFactory<RailwayWebContext> DbFactory

<PageTitle>Lines</PageTitle>

<h1>Lines</h1>

<p>
    <a href="lines/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Line">
    <PropertyColumn Property="l => l.LineID" Title="ID" />
    <PropertyColumn Property="l => l.OperatingCompanyID" Title="Company ID" />
    <PropertyColumn Property="l => l.StartFacilityID" Title="Start Station ID" />
    <PropertyColumn Property="l => l.EndFacilityID" Title="End Station ID" />

    <TemplateColumn Context="l">
        <a href="@($"lines/edit?id={l.LineID}")">Edit</a> |
        <a href="@($"lines/delete?id={l.LineID}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private RailwayWebContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}