@page "/wagons/delete"
@using Microsoft.EntityFrameworkCore
@using RailwayWeb.Data
@inject IDbContextFactory<RailwayWebContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete Wagon</PageTitle>

<h1>Delete Wagon</h1>

@if (wagon == null)
{
        <p><em>Loading...</em></p>
}
else
{
        <div class="alert alert-danger">
            <h3>Are you sure?</h3>
            <p>Are you sure you want to delete wagon ID <b>@wagon.WagonID</b>?</p>
        </div>

        <dl class="row">
            <dt class="col-sm-2">ID</dt>
            <dd class="col-sm-10">@wagon.WagonID</dd>
            <dt class="col-sm-2">Payload</dt>
            <dd class="col-sm-10">@wagon.Payload</dd>
        </dl>

        <EditForm Model="wagon" OnValidSubmit="DeleteConfirmed" FormName="confirmDeleteWagon">
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="/wagons" class="btn btn-secondary">Back to List</a>
        </EditForm>
}

@code {
    [SupplyParameterFromQuery] public int Id { get; set; }
    [SupplyParameterFromForm] public Wagon? wagon { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();

        wagon ??= await context.Wagon.FirstOrDefaultAsync(m => m.WagonID == Id);

        if (wagon == null)
        {
            NavigationManager.NavigateTo("/wagons");
        }
    }

    private async Task DeleteConfirmed()
    {
        using var context = DbFactory.CreateDbContext();
        var wagonToDelete = await context.Wagon.FindAsync(Id);

        if (wagonToDelete != null)
        {
            context.Wagon.Remove(wagonToDelete);
            await context.SaveChangesAsync();
        }

        NavigationManager.NavigateTo("/wagons");
    }
}